
@media only screen and (max-width: 480px) and (min-width: 0px) {
.starter-template{

}
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
.col-sm-6{
	width: 50%!important;
}
.col-sm-4{
	width: 33.33333333%!important;
}
.col-sm-2{
	width: 16.66666667%!important;
}
.starter-template{

}
}
@media only screen and (min-width: 768px) {
.starter-template{

}
}
@media only screen and (min-width: 992px) {
.starter-template{
	
}
}
@media only screen and (min-width: 1200px) and (max-width: 100%){
.starter-template{
	width:65%;
}
}


/* mau nen cho phan containet head */
.container.headder{
	background-color:#eeeeee;
}
/* bung ra toan man hjnh theo chjeu rong */

/* chjnh hjnh logo tren phan header */
.img-responsive.logo{
	padding:0px 0px 12px;
	width: 75%;
	height: 110px;
}
/* bung do rong 100% cho the input va select trong tap*/
.form-control.fmct, .form-control.fm1{
	width: 100%;
}
/*chjnh do rong cho tap khoang 65% theo chju rong */
.starter-template{
	padding: 17px 0px 0px;
}
/* mau chu do cho ket qua va tu tim kiem */
.resulth4{
	color:red;
}
.img-responsive.nsearch {
margin: 1px 0 0;
}