body{
	font-family: arial,Helvetica,sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
@media only screen and (max-width: 320px)  {
.keyboar{
	display:none;
}

.form-control.searchmobile, 
.form-control.fmct.httpbv,
.form-control.fmct.httpgl, 
.form-control.searchmobile1,
.row.top,.sear {
	 display:block;
}
.form-control.fmct.httpbv{
	width: 60%;
	margin: 4px;
	padding: 2px 10px;
}
.form-control.fmct.httpgl{
	width: 35%;
	border-radius: 13px;
}

.row.top{
	background-color: #94a5ba;
	height: 45px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
	color:#fff;
}
.dropdown-menu.font a {
    background: none repeat scroll 0 0 #F1663B;
    text-align: left;
}
.dropdown-menu{
	padding: 0px 0px;
}
.navbar-collapse{
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
}
.navbar-nav {
    text-align: left;
    width: 100%;
    margin: 0px 0px;
}
.form-control.areas, 
.form-control.kind_of {
    width: 100%;
    height: 25px;
}
.form-control.fmct {
	/*display: none;*/
 	font-size:12px;
    height: 25px;
	
	margin: 4px 0 0;
	padding: 2px 0;
	border: 1px solid #999;
	float:left;	
}
 .form-control.fm1 {
 	font-size:12px;
	margin: 6px 3px -1px;
	height: 25px;
	padding: 2px 0;
	border: 1px solid #999;
}
.form-control.fm2{
	
	
	margin: 6px 0 0;
	height: 25px;
	padding: 2px 0 0 30px;
}
.tab-content.tabctent{
	border:1px solid #CCCCCC;
	margin: -1px 0;
	padding: 6px 10px;
	background-color:#F0F0F0;
	border-radius:8px;
}
.col-xl-12.col-sm-12.col-md-12.contain_result {
	box-shadow: -1px -1px 0px #d1d1d1;
	background-color: #f6f6f6;
}
}

/*
@media only screen and (max-width: 767px) and (min-width: 550px) {
.container.headder .row .col-sm-3{
	width:25%!important;
}
.container.headder .row .col-sm-7{
	width:75%!important;
}
}*/

@media only screen and (max-width: 766px) and (min-width: 480px) {
.col-sm-6{
		width: 50%!important;
}
.col-sm-4{
	width: 33.33333333%!important;
}
.col-sm-2{
	width: 16.66666667%!important;
}
.col-xl-12.col-sm-9.col-md-9.contan.ipla21 {
    float: right;
    width: 70%;
}
.col-xl-12.col-sm-3.col-md-3.ipla2{
    float: left;
    width: 30%;
}
/* thu man hinh ip */
.jumbotron{
	padding-top: 13px;
	padding-bottom: 105px;
	padding-left: 0px;
	margin-bottom: 0px;
	box-shadow: -1px 1px 0px #D1D1D1;
}
.img-responsive.logo {
    float: left;
}
.col-xl-12.col-sm-3.col-md-3.ip{
	width:30%;
}
.container.headder {
    width: 100%;
    margin-top: 10px;
}
.container.container1.container2 {
    width: 70%;
}
.form-control.fmct.ip,.form-control.fm1.ip{
	width:100%;
}
.container.container1.container2{
	margin-top:-25px;
}
.col-xl-12.col-sm-3.col-md-3.ipla3 {
    float: left;
    width: 25%;
}
.col-xl-12.col-sm-9.col-md-9.ipl31{
	float: right;
	width:70%;
}
.container.contanin {
    width: 100%;
}
.col-xl-12.col-sm-9.col-md-9.contan {
    float: right;
    width: 70%;
}
.col-xl-12.col-sm-3.col-md-3.ipla2 {
    float: left;
}
/*stop thu man hinh ip*/
.navbar-nav {
	margin: 0.5px -6px;
}
.navbar-header{
	display:none;
}
.navbar-collapse.collapse{
	display:block;
}
.nav > li {
	position: relative;
	display: block;
	float: left;
}
.navbar-nav > li.last{
  	float:right;
}
 .container.container1{
	width:500px;
}
.nav.nav-tabs.tabnav a{
	padding: 7px 20px;
	font-size: 12px;
}
.tab-content.tabctent{
	border:1px solid #CCCCCC;
	margin: -1px 0;
	padding: 6px 0px;
	background-color:#F0F0F0;
	border-radius:8px;
}
 .form-control.fm2{
	font-size:12px;
	margin: 6px 0 0;
	height: 25px;
	padding: 2px 0 0 30px;
	border: 1px solid #999;
}
 .form-control.fm1 {
 	font-size:12px;
	margin: 6px 3px -1px;
	height: 25px;
	width: 205px;
	padding: 2px 0;
	border: 1px solid #999;
}
 .form-control.fmct {
	font-size:12px;
    height: 25px;
	/*width: 205px;*/
	margin: 4px 0 0;
	padding: 2px 0;
	border: 1px solid #999;
	float:left;	
}
.keyboar{
	display:block;
}
.navbar-mobile,.row.top, .img-responsive.logo1,
.form-control.searchmobile1,.img.searchmobile1,
.container.tabmobile,container containmobi
.form-control.searchmobile,
.img.searchmobile{
	 display:none;
}
.form-control.areas, 
.form-control.kind_of{
    width: 80%;
    height: 25px;
}
.navbar-nav .open .dropdown-menu{
	position: absolute;
	background-color: #F1663B;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
	color: #fff;
}
.col-xl-12.col-sm-12.col-md-12.contain_result {
	box-shadow: -1px -1px 0px #d1d1d1;
	background-color: #f6f6f6;
}
}
						/* min width 768px */
@media (min-width: 768px) {

.navbar-nav > li.last{
  	float:right;
}
 .container.container1{
	width:500px;
}
.nav.nav-tabs.tabnav a{
	padding: 7px 20px;
	font-size: 12px;
}
.tab-content.tabctent{
	border:1px solid #CCCCCC;
	margin: -1px 0;
	padding: 6px 10px;
	background-color:#F0F0F0;
	border-radius: 5px;
	
}
 .form-control.fm2{
 	font-size:12px;
	margin: 6px 6px 0;
	height: 25px;
	padding: 2px 0px 0px 19px;
	border: 1px solid #999;
}
 .form-control.fm1 {
 	font-size:12px;
	margin: 6px 3px -1px;
	height: 25px;
	/*width: 205px;*/
	padding: 2px 0;
	border: 1px solid #999;
}
 .form-control.fmct {
	font-size:12px;
    height: 25px;
	/*width: 205px;*/
	margin: 4px 0 0;
	padding: 2px 12px;
	border: 1px solid #999;
	float:left;
	
}
.keyboar{
	display:block;
}
.form-control.areas, 
.form-control.kind_of {
    height: 25px;
    width: 70%;
    font-size: 12px;
    padding: 0px 0px;
}
.tab-content.tabctent{
	width":77%;
}
.jumbotron{
	padding-top: 31px;
	padding-bottom: 109px;
	padding-left: 0px;
	box-shadow: -1px 1px 0px #d1d1d1;
}
}

@media (min-width: 992px) {
 	.navbar-nav > li.last{
 	float:right;
 }
 .container.container1{
	width:500px;
}
.nav.nav-tabs.tabnav a{
	padding: 7px 20px;
	font-size: 12px;
}

.keyboar,.form-control.fmct, 
.form-control.fm1, 
.form-control.fm2, 
.tab-content.tabctent{
	display:block;
}
.form-control.searchmobile, 
.img.searchmobile, .container.tabmobile,
.navbar-mobile,.row.top,
.col-xl-12.col-sm-12.col-md-12.logoheader1, 
.img-responsive.logo1,.container.containmobi,
.form-control.searchmobile1,.img.searchmobile1{
	 display:none;
}
.form-control.areas, 
.form-control.kind_of{
    height: 25px;
    width: 70%;
    font-size: 12px;
    padding: 0px 0px;
}
.col-xl-12.col-sm-12.col-md-8.contain_result{
	position: absolute;
	right: 0;
}
.tab-content.tabctent{
	width":77%;
}
.jumbotron{
	padding-top: 31px;
	padding-bottom: 109px;
	padding-left: 0px;
	box-shadow: -1px 1px 0px #d1d1d1;
}
}

@media (min-width: 1200px) {
.navbar-nav > li.last{
 	float:right;
}
.container.container1{
	width: 626px;
}
.container.container1.container2{
	width: 626px;
}
.nav.nav-tabs.tabnav a{
	padding: 7px 39px;
	font-size: 12px;
}
.keyboar,.form-control.fmct, 
.form-control.fm1,.form-control.fm2,
.tab-content.tabctent{
	display:block;
}
.form-control.searchmobile, 
.img.searchmobile, .container.tabmobile,
.navbar-mobile, .row.top,
.col-xl-12.col-sm-12.col-md-12.logoheader1,
.img-responsive.logo1, .container.containmobi,
.form-control.searchmobile1,.img.searchmobile1{
	 display:none;
}
.form-control.areas, 
.form-control.kind_of {
    height: 25px;
    width: 70%;
    font-size: 12px;
    padding: 0px 0px;
    margin-top: 20px;
}
.col-xl-12.col-sm-12.col-md-8.contain_result{
	position: absolute;
	right: 0;
}
.tab-content.tabctent{
	width":77%;
}
.jumbotron{
	
	padding-top: 31px;
	padding-bottom: 111px;
	padding-left: 0px;
	box-shadow: -1px 1px 0px #d1d1d1;
}
}

/*menu*/
.navbar.navbar-inverse.navbar-fixed-top.top{
	font-size:10px;
	
	min-height:30px;
	margin-bottom: 0px;
}
.navbar-toggle.but{
	margin: 0px 10px 0px;
	width: 26px;
	height: 28px;
}  

/*font chu drop menu*/
.dropdown-menu.font{
	font-size:10px;
	width: 100%;
}
/*hinh login*/
	.logoheader{
	text-align:center;
	margin-top: 10px;
}
/*nut tap liet ke*/
	.nav-tabs>li>a{
	background-color: #F0F0F0;
	border-radius:5px;
	border:1px solid #CCCCCC;
	padding: 7px 20px;
}
.nav-tabs>li{
	font-size: 12px;
}
/*iuput trong tap*/
.tab-pane.active.tabacti{
	height: 30px;
	padding: 2px 0px 0px 2px;position: relative;
}
/*margin cho 2 nut tap*/
.nav.nav-tabs.tabnav{
	margin:0px 20px;
	
}
.nav-tabs{
	border-bottom: none !important;
}
.row >div{
	padding:0 4px!important;
}
.nav.nav-tabs.tabnav{
	margin:1px 10px;
}
.col-xs-12.col-sm-8.col-md-6.tabsearch{
	text-align:center;
}
.nav > li > a {
	padding: 3px 20px;
	
}
.navbar-nav{
	width:100%;
}
.nav-tabs > li> a{
	background-color:#fff;
	border-radius: 10px 10px 0px 0px;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	background-color:#f0f0f0;
}
.img-responsive.nsearch {
    cursor: pointer;
     border: 1px solid #999999;
     margin: 6px 0 0;
}
.keyboar, .img.searchmobile, 
.sear,.img.searchmobile1{
    border:0;
    padding:0;
    margin:3px 0 2px -28px;
    width:24px;
    height:24px;
    background:transparent url("../static/images/BV4_09.gif") center center  no-repeat;
    float:left;
}/*hjnt tjm kiem*/
.img.searchmobile, .img.searchmobile1{
	background:transparent url("../images/search_03.gif") center center  no-repeat;
}
.sear{
	background:transparent url("../images/load.png") center center  no-repeat;
}
.form-control.searchmobile,.form-control.searchmobile1{
	 border: 1px solid #F74538;
	 float:left;
	  height: 27px;
}
/*menu V-D D-V tren mobile*/
.navbar-mobile{
	color:#fff;
	list-style: none outside none;
}
.viet-duc {
    float: left;
}
.navbar-mobile{
	margin: 8px 20px;
}
.navbar-mobile > li > a {
    color: #999;
    text-decoration: none;
}
.navbar-mobile > li > a:hover {
    color: #fff;
    text-decoration: none;
}
/* form dang nhap */
.form-horizontal.formlogin{
	border:1px solid #cccccc;
	width:400px;
	float:right;
	display:none;
}
.btn.btn-default.btlg{
	height: 30px;
}
/* mau nen cho dropmenu*/
.dropdown-menu.font{
	color: #fff;
    background: none repeat scroll 0 0 #F1663B;
    text-align: left;
    border: none;
	border-radius: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.dropdown-menu{
	min-width: 106px;
}
.dropdown-menu.font a{
	color: #fff;
}
.aresutl{
	
    font-weight: bold;
    text-decoration: none;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus{
	background-color: #F1663B;
}

/* layout2 */
/*design contain nam ben trai */
.container.headder, .container.contanin,
.container.container1.container2  {
    float: left;
    padding-right: 0px; 
 	padding-left: 5px;
}
/* do bong va mau nen cho contanheadder*/
.container.headder, .jumbotron{
	background-color:#f6f6f6;
}
/* do bong cho col right result*/
.col-xl-12.col-sm-12.col-md-8.contain_result{
	box-shadow: -1px -1px 0px #d1d1d1;
	background-color:#f6f6f6;
}
/* design mau chu do */
.lookh3, .resulth5{
	color: #f1663b;
    font-family: Helvetica Neue;
    text-transform: capitalize;
}
/* font-size de muc tim kiem*/
.resulth5{
	font-size: 16px;
	cursor: pointer;
}
.container.container1.container2 {
    padding: 18px 0 0px;
}
@media only screen and (min-width: 975px) {
.top_left {
	margin-left: 20px;
	
	width: 220px;
}
}

@media only screen and (max-width: 975px) {
.top_left {
	margin-left: 20px;
	position: fixed;
	width: 20%;
}
}

@media only screen and (min-width: 975px) {
.top_left1 {
	margin-left: 20px;
	width: 220px;
}
}

@media only screen and (max-width: 975px) {
.top_left1 {
	margin-left: 20px;
	width: 20%;
}
}

/* back result*/	
.glyphicon.glyphicon-circle-arrow-left, 
.img-responsive.sound, .aresutl :hover  {
    cursor: pointer;
}
.aresutl:hover {
    color: #F1663B;
    text-decoration: none;
}
/* layout3*/
/*mau nen cho cac o trong bang*/
.backround{
	background-color: #f0f0f0;
}
/* cho tu bjnh luan len ngang hang hjnh */
.bl{
	float: left;
}
.form-control.bl_text, .result_bl,  
.form-control.bl, .left_footer{
	width: 85%;
}
.result_bl{
	padding-left: 15px;
}
.form-control.bl{
	height: 25px;
	display: none;
}
.img-responsive.avatar{
	width: 55px;
}
.count_time{
	float: left;
}
.img-responsive.bl{
	cursor: pointer;
}
.form-horizontal.formbl1{
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin-top: 2%;
}
.form-horizontal{
	width: 90%;
}
.form-horizontal.formbl5,
.form-horizontal.formbl2,
.form-horizontal.formbl3,
.form-horizontal.formbl4{
	border-bottom: 1px solid #999;
}
.btn.btn-success.btnlg1{
	background-color: #F1663B;
	width: 70px;
}
.next{
	float: right;
}
.h5{
	font-weight: bold;
}
.ita{
	font-style: italic;
}
.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    vertical-align: middle;
    padding: 20px 0;
    text-align: center;
    position:fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
.img-responsive.logo1{
	width: 130px;
}
/* hieu ung nut tab tren mobbbile*/
.nav-tabs.tabsmobi > li.active > a, 
.nav-tabs.tabsmobi > li.active > a:hover, 
.nav-tabs.tabsmobi > li.active > a:focus {
color:#fff;
background-color: #f1663b;
}

.rest {
	top:  auto;
	/*left: 350px;*/
}

.btn-xl {
	width: 75px;
	padding: 1.15px 10px;
	margin: 6px 0;
	-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
	   				border-radius: 3px;
		}
.btn-xl1 {
	width: 69px;
	padding: 1.15px 10px;
	margin: 6px 0 0;
	-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
    				border-radius: 3px;
}

@media (max-width: 1199px) {
.btn-xl{width: 100%;}

.description{
	margin: 40px 20px;
}
.btn-responsive {
	padding: 3px 10px;
	font-size:80%;
	margin: 7px 0 0;
	line-height: 1;
	border-radius:3px;
	width: 100%;
}
.form-control.fmct {
/*display: none;*/
	font-size:12px;
   height: 25px;
	margin: 4px 0 0;
	padding: 2px 0;
	border: 1px solid #999;
	float:left;	
}
.form-control.areas {
	display: none;
}
.form-control.kind_of{
	display: none;
}


.form-control.fm1 {
 	font-size:12px;
	margin: 6px 3px -1px;
	height: 25px;
	width: 98%;
	padding: 2px 0;
	border: 1px solid #999;
}
.form-control.fm2{
	margin: 6px 0 0;
	height: 25px;
	padding: 2px;
}
.tab-content.tabctent{
	border:1px solid #CCCCCC;
	margin: -1px 0;
	padding: 6px 10px;
	background-color:#F0F0F0;
	border-radius:8px;
}
.col-xl-12.col-sm-12.col-md-12.contain_result {
	box-shadow: -1px -1px 0px #d1d1d1;
	background-color: #f6f6f6;
}
	
}

@media (min-width: 465px) {
	.btn-responsive {
			padding: 3px 10px;
			font-size:80%;
			margin: 7px 0 0;
			line-height: 1;
			border-radius:3px;
		}
	.h-tablet { 
		display: none;
	}
}
@media (min-width: 521px) {
	.btn-responsive {
			padding: 3px 13px;
			font-size:80%;
			margin: 7px 0 0;
			line-height: 1;
			border-radius:3px;
		}
}
@media (min-width: 600px) {
	.btn-responsive {
			padding: 3px 17px;
			font-size:80%;
			margin: 7px 0 0;
			line-height: 1;
			border-radius:3px;
		}
}
@media (min-width: 650px) {
	.btn-responsive {
			padding: 3px 20px;
			font-size:80%;
			margin: 7px 0 0;
			line-height: 1;
			border-radius:3px;
		}
}
@media (min-width: 680px) {
	.btn-responsive {
			padding: 3px 23px;
			font-size:80%;
			margin: 7px 0 0;
			line-height: 1;
			border-radius:3px;
		}
}
@media (min-width: 718px) {
	.btn-responsive {
			padding: 3px 25px;
			font-size:80%;
			 margin: 7px 9px 0;
			line-height: 1;
			border-radius:3px;
		}
}
@media (min-width: 750px) {
	.btn-responsive {
			padding:3px 30px;
			font-size:90%;
			line-height: 1.2;
		}
}

.layer1 {
	margin: 0;
	padding: 0;
	/*width: 500px;*/
}

.heading {
	margin: 1px;
	color: #66523D;
	padding: 3px 10px;
	cursor: pointer;
	position: relative;
	background-color:#f6f6f6;
	font-size: 100%;
	width: 100%;
}
@media (max-width:640px)
{

	.container.headder{
		float:none;
	    padding-right: 0px;
	    padding-left: 5px;
	    }
   
}
@media only screen and (min-width: 570px) and (max-width: 975px){
	.w-wapper { 
		width: 370px;
	}
}
@media only screen and (min-width: 975px) {
	.w-wapper { 
		width: 100%;
	}
}
@media only screen and (min-width: 570px) {
	.content {
		padding: 5px 10px;
		background-color:#fafafa;
		line-height: 10%;
		width: 100%;
	}
}
@media only screen and (min-width: 570px) {
	.content {
		padding: 5px 10px;
		background-color:#fafafa;
		line-height: 10%;
		width: 370px;
	}
}

.content1 {
	padding: 5px 10px;
	background-color:#fafafa;
	color: #339933;
	padding-left: 40px;
}
p { padding: 5px 0; }



.arrow_box
   {
      position: relative;
      background: #f6f6f6;
      border: 1px solid #f6f6f6;
      margin-left: 215px;
}
 .arrow_box:after, .arrow_box:before
{
    right: 100%;
    top: 8%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
 }
 .arrow_box:after
 {
    border-color: rgba(136, 183, 213, 0);
    border-right-color:#f6f6f6;
    border-width: 15px; margin-top: -15px;

  }
.arrow_box:before
  {
   border-color: rgba(194, 225, 245, 0);
   border-right-color: #f6f6f6;
   border-width: 16px;
   margin-top: -16px;

   }
.allaresutl{
  margin-left:26px;
  }
.pmh-wapper {
	float: right;
    }
#panel
{
	display: block;
	margin-left: 21px;
	margin-bottom: 55px;
}
.content{
	background-color: #f6f6f6;
}
.grammar{
	height: 300px;
	
}
.data-result{
	margin-left: 10px;
}
.ui-autocomplete
{
	position:				absolute;
	margin:					0;
	padding:				0;
	list-style:				none;
	border:					1px solid #7c7c7c;
	border-left-color:		#c3c3c3;
	border-right-color:		#c3c3c3;
	border-bottom-color:	#ddd;
	background-color:		#fff;
	text-align:				left;
	font-family:			Verdana, Geneva, Arial, Helvetica, sans-serif;
	z-index:				50;
	background-color:		#fff;
}

.ui-autocomplete li
{
	position:				relative;
	margin:					-2px 0 0 0;
	padding:				0.2em 1.5em 0.2em 1em;
	display:				block;
	float:					none !important; 
	cursor:					pointer;
	font-weight:			normal;
	white-space:			nowrap;
	font-size:				1em;
	line-height:			1.5em;
}

.ui-autocomplete .ui-state-focus {
    background:rgb(39, 108, 255);
    color:white;
}
.prefix-item num1{
	 width: 10px;
}
.prefix-item{
	float: left;
    padding: 0 3px;
    text-align: center;
    text-decoration: none;
	
}
.prefix{
	width: 250%;
	margin-bottom: 100px;
}
.data{
	margin-top: 10px;
}
.data {
    position:relative;
    height:400px;
}
 
.pagination{
    padding: 2px;
}
.pagination ul{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 16px;
}
.pagination li{
    list-style-type: none;
    display: inline;
    padding-bottom: 1px;
}
.pagination a, .pagination a:visited{
    padding: 0 5px;
   
    text-decoration: none;

}
.pagination a:hover, .pagination a:active{
    border: 1px solid #2b66a5;
    color: #000;
    background-color: #FFFF80;
}
.pagination a.prevnext{
    font-weight: bold;
}
.page_number {
    border: 1px solid #9aafe5;
    color: #2e6ab1;
    padding:5px;
    text-align: center;
    width: 20px;
}

/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 */

.ms-parent {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.ms-choice {
    display: block;
    width: 100%;
    height: 26px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #aaa;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
}

.ms-choice.disabled {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ms-choice > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 8px;
}

.ms-choice > span.placeholder {
    color: #999;
}

.ms-choice > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 25px;
    background: url('../images/multiple-select.png') left top no-repeat;
}

.ms-choice > div.open {
    background: url('../images/multiple-select.png') right top no-repeat;
}

.ms-drop {
    width: 100%;
    overflow: hidden;
    display: none;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    z-index: 1000;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ms-drop.bottom {
    top: 100%;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.ms-drop.top {
    bottom: 100%;
    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ms-search {
    display: inline-block;
    margin: 0;
    min-height: 26px;
    padding: 4px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 10000;
}

.ms-search input {
    width: 100%;
    height: auto !important;
    min-height: 24px;
    padding: 0 20px 0 5px;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    font-size: 1em;
    border: 1px solid #aaa;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fff url('../images/multiple-select.png') no-repeat 100% -22px;
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('../images/multiple-select.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.ms-search, .ms-search input {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ms-drop ul {
    overflow: auto;
    margin: 0;
    padding: 5px 8px;
}

.ms-drop ul > li {
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
}

.ms-drop ul > li .disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
    display: block;
    float: left;
}

.ms-drop ul > li.group {
    clear: both;
}

.ms-drop ul > li.multiple label {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms-drop ul > li label {
    font-weight: normal;
    display: block;
    white-space: nowrap;
}

.ms-drop ul > li label.optgroup {
    font-weight: bold;
}

.ms-drop input[type="checkbox"] {
    vertical-align: middle;
}

.ms-drop .ms-no-results {
    display: none;
}

