{% load assign %}
{% load set_var %}
{% load continue %}
<button type="button" class="close pmh-wapper" data-dismiss="modal" aria-hidden="true">×</button><br><br>
<div class="layer1">
		{% if detail %}
		{% for q in detail %}
		{% ifchanged q.wText %}
			<h5 class="resulth5">{{q.wText}}&nbsp;<span><img src="../static/images/BV4_19.gif" class="img-responsive sound " alt="Responsive image"></span></h5>
			<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
			<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
			<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
			<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
			<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
			<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
			<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
			<div class="phan-minh-hoang">
			<table>
		{% endifchanged %}
		{% if q.row_number == 1 %}
			<tr><td>
		{% ifchanged q.ttText %}
			<div style="font-family:Helvetica Neue;font-size: 150%; ">
				{% if q.ttText == "z_others" %}
					<span>Từ Ngữ Chung</span>
				{% elif q.tText == "z_zothers" %}
					<span>Từ Liên Quan</span>
				{% elif q.tText == "z_zzothers" %}
					<span>Từ Tương Tự</span>
				{% else %}
					<span>{{q.tText|title}}</span>
				{% endif %}
			</div></td></tr><tr><td>
		{% endifchanged %}
			<p class="heading w-wapper">{{q.wtText}} </p>
			<div class="content">
		{% endif %}
		{% ifchanged q.wtId %}
		{% if q.row_number != 1 %}
			</div>
			</td></tr>
			<tr><td>
		{% ifchanged q.ttText %}
			<div style="font-family:Helvetica Neue;font-size: 150%;">
			{% if q.ttText == "z_others" %}
				<span>Từ Ngữ Chung</span>
			{% elif q.tText == "z_zothers" %}
				<span>Từ Liên Quan</span>
			{% elif q.tText == "z_zzothers" %}
				<span>Từ Tương Tự</span>
			{% else %}
				<span>{{q.tText|title}}</span>
			{% endif %}
			</div>
			</td></tr><tr><td>
		{% endifchanged %}
			<p class="heading w-wapper">{{q.wtText}} </p>
			<div class="content">
		{% endif %}
		{% endifchanged %}
		{% if q.eText != None %}
			<div style="color:#664C00; padding-left:20px; padding-top:5px; line-height:130%; padding-right:20px;">{{q.eText}}</div><br />
			<div style="color:#339933; padding-left:40px; line-height:130%; padding-right:30px;">{{q.etText}}</div><br />
		{% endif %}
		{% endfor %}
		</div>
		{% endif %}
	</table>
</div>
<br />
<div class ="allaresutl">
<a class="aresutl">Ngữ pháp&nbsp;<span class="glyphicon glyphicon-play-hoang"></span></a><br>
<div class="grammar">
		{% if grammar %}
		<table class="table table-bordered">
		{{type_word}}	
			{% assign count 0 %}
			{% for q in grammar %}
				{% if q|get_type == 'int' %}
				{% endif %}
				{% if count|divisibleby:2 %}
				<tr>
					<td class="danger" style="font-size: 120%;">{{q}}</td>
				{% else %}
					<td class="info" style="font-size: 120%;">{{q}}</td>
				</tr>
				{% endif %}
			{% assign count count|add:1 %}
			{% endfor %}
		</table>
	{% endif %}
</div>
	<a class="aresutl">Video&nbsp;<span class="glyphicon glyphicon-play"></span></a><br>
	<a class="aresutl">Lĩnh vực&nbsp;<span class="glyphicon glyphicon-play"></span></a><br>
	<a class="aresutl">Kết quả khác&nbsp;<span class="glyphicon glyphicon-play"></span></a><br>
</div>