	<footer class="footer">
		<div class="containner">
			<span>Copyright &copy; 2010-2014 <a class="btn-link" href="http://www.bachviet.de/">bachviet.de</a></span>
		</div>
	</footer>
	{% load staticfiles %}
	<script type="text/javascript" src="../static/js/jquery.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../static/js/jquery-ui.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.bak.js"></script>
	<script type="text/javascript" src="../static/js/jquery.dcmegamenu.1.3.3.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery.hoverIntent.minified.js"></script>
	<script type="text/javascript" src="../static/js/jquery.oLoader.min.js"></script>
	<script type="text/javascript" src="../static/js/keyboard.js" charset="UTF-8"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../static/js/select.js" charset="UTF-8"></script>
	
	
	<script type="text/javascript" language="javascript" >
    	$(document).ready(function () {
          	$('.dropdown-toggle').dropdown();
        });
        function myFunction()  {}
    </script>
 	<script type="text/javascript">
		jQuery(document).ready(function() {
  			detailsearch();
  			
		});
		function detailsearch() {
			jQuery(".content").hide();
  			
  			jQuery(".heading.w-wapper").click(function()
  			{
  				
    			jQuery(this).next(".content").slideToggle(500);
  			});
  			jQuery(".close.pmh-wapper").click(function()
  			{
  				if (jQuery(window).width() < 992) {
    				jQuery(".hoang-empty").fadeOut();
    			} else { 
    				jQuery(".arrow_box").fadeOut();
    			}
  			});
		}
		function clickDetail(id) {}
		function effectSearch() {
			$('body').oLoader({
  				wholeWindow: true, //makes the loader fit the window size
  				lockOverflow: true, //disable scrollbar on body
  				backgroundColor: '#000',
  				fadeInTime: 100,
  				fadeLevel: 0.4,
  				image: '../static/images/ownageLoader/loader4.gif', 
  				hideAfter: 150
			});
		}
		function detailgrammar() {
			jQuery(".grammar").hide();
  			jQuery(".glyphicon.glyphicon-play-hoang").click(function()
  			{
    			jQuery(".grammar").slideToggle("slow");
    			jQuery(".resulth5").click(function() {
    				jQuery("grammar").slideUp("slow");
    			});
  			});
		}
	</script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
  			jQuery(".arrow_box").hide();
  			jQuery.each(jQuery(".btn-link.hoang"),function(){
	  			jQuery(this).hover(function()
	  			{
	  				var element = $(this);
	  				var offset = jQuery(this).offset();
	  				var top = offset.top;
	  				
	  				var url = $(this).attr('data');
	  				if (jQuery(window).width() < 992) {
	  					jQuery('.hoang-empty').empty();
	  					
	  				}
	  				$.ajax({
	  					url:"/test1/",
	  					method: "GET",
	  					data: {text:url},
	  					success: function(detail) {
	  						
	  						if (jQuery(window).width() >= 992) {
	  							jQuery('.arrow_box').css('top',top);
	  							jQuery('.arrow_box').html(detail);
	  							jQuery('.arrow_box').fadeIn();
	  						} else { 
	  							//console.log(jQuery(element).parent().parent().children('div'));
	  							jQuery(element).parent().parent().children('div').empty();
	  							jQuery(".hoang-empty").fadeIn();
	  							jQuery(element).parent().parent().children('div').html(detail);
	  						}
	  						detailsearch();
	  						detailgrammar();
	  						
	  						//jQuery(window).scrollTop(jQuery(element).parent().parent().offset().top);
	  					},
	  					error: function() { 
	  						//effectSearch();
	  						//jQuery(window).scrollTop(jQuery(element).parent().parent().offset().top);
	  					}
	  					
	  				});
	  			}, function() {
	  				//jQuery('.arrow_box').fadeOut(3000);
	  			});
  			});
  		});
	</script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
  			jQuery(".arrow_box").hide();
  			jQuery.each(jQuery(".btn-link.view"),function(){
	  			jQuery(this).hover(function()
	  			{
	  				var element = $(this);
	  				var offset = jQuery(this).offset();
	  				var top = offset.top;
	  				
	  				var url = $(this).attr('data');
	  				if (jQuery(window).width() < 992) {
	  					jQuery('.hoang-empty').empty();
	  					console.log(jQuery('.hoang-empty').empty());
	  				}
	  				$.ajax({
	  					url:"/test1/",
	  					method: "GET",
	  					data: {text:url},
	  					success: function(detail) {
	  						//effectSearch();
	  						if (jQuery(window).width() >= 992) {
	  							jQuery('.arrow_box').css('top',top-180);
	  							jQuery('.arrow_box').html(detail);
	  							jQuery('.arrow_box').fadeIn();
	  						} else { 
	  							//console.log(jQuery(element).parent().parent().children('div'));
	  							jQuery(element).parent().parent().children('div').empty();
	  							jQuery(".hoang-empty").fadeIn();
	  							jQuery(element).parent().parent().children('div').html(detail);
	  						}
	  						detailsearch();
	  						detailgrammar();
	  						
	  						//jQuery(window).scrollTop(jQuery(element).parent().parent().offset().top);
	  					},
	  					error: function() { 
	  						//effectSearch();
	  						//jQuery(window).scrollTop(jQuery(element).parent().parent().offset().top);
	  					}
	  					
	  				});
	  			}, function() {
	  				//jQuery('.arrow_box').fadeOut(3000);
	  			});
  			});
  		});
	</script>
	<script type="text/javascript">
	jQuery(".form-control.fmct.keyboardInput").autocomplete({
			source: function(request, response) {
				$.ajax({
	                url: '/words',
	                method: 'GET',
	                data: {
	                    q: $(".form-control.fmct.keyboardInput").val()
	                },
	                success: function(data) {
	                    response(data);
	                    $(".ui-helper-hidden-accessible").remove();
	                }
	            });
			}
		});
	</script>
	<script type="text/javascript">
		jQuery(".btn-link.hoang").click(function() {
			var text = $(this).attr('data');
		  	jQuery.ajax({
		  		url:"/detail1/",
		  		method: "POST",
		  		data: {
		  			text: text,
		  			'csrfmiddlewaretoken': '{{ csrf_token }}'
		  		},
		  		success: function(data) {
		  			var url = window.location.href.replace('result','detail');
		  			window.location.href = url;
		  			
		  			
		  		}
		  	});
		});
	</script>
	<script type="text/javascript">
		jQuery(".btn-link.view").click(function() {
			var text = $(this).attr('data');
		  	jQuery.ajax({
		  		url:"/detail1/",
		  		method: "POST",
		  		data: {
		  			text: text,
		  			'csrfmiddlewaretoken': '{{ csrf_token }}'
		  		},
		  		success: function(data) {
		  			var url = window.location.href.replace('listdetail','detail');
		  			window.location.href = url;
		  			
		  			
		  		}
		  	});
		});
	</script>
	
	<script type="text/javascript">
		var langq;
		
		jQuery(".btn-xl").click(function() {
			
			var langq = $( ".form-control.fm2" ).val();
	        $.cookie("project", langq);
	        var value = $.cookie("project", langq);
	        
		    });
		jQuery(".prefix-item.num1").click(function() {
			var list = $(this).attr('data');
			var lang = $.cookie("project", langq);
			var linhvuc = $('#LinhVuc').val();
			var fielArray = [];
			fielArray.push(linhvuc);
			var fiel = fielArray.toString();
			console.log(fiel);
			//alert(fiel);
			if(linhvuc == null){
				
				jQuery.ajax({
			  		url:"/detail2/",
			  		method: "POST",
			  		data: {
			  			list: list,
			  			lang:lang,
			  			'csrfmiddlewaretoken': '{{ csrf_token }}'
			  		},
			  		success: function(data)
			  		{
			  			
			  			var url = window.location.href.replace('list','listdetail');
			  			window.location.href = url;
			  		}
			  		
			  		
			  	});
				
			}
			else{
				jQuery.ajax({
			  		url:"/detail3/",
			  		method: "POST",
			  		data: {
			  			list: list,
			  			lang:lang,
			  			fiel: fiel,
			  			'csrfmiddlewaretoken': '{{ csrf_token }}'
			  		},
			  		success: function(data)
			  		{
			  			//alert(fielArray);
			  			var url = window.location.href.replace('list','listfield');
			  			window.location.href = url;
			  		}
			  		
			  		
			  	});
			}
		  	
		});
		
	</script>
	<script type="text/javascript">
		function OnButton2()
		{
			var href="";
			$('.qw').each(function(){
				if($(this).parent().hasClass('active')){
					href=$(this).attr("href");
				}
			});
			
			if(href == '#home'){
				$
				document.Form1.action = "/result/"
				return true;
			}
			else{
				document.Form1.action = "/list/"
				
				return true;
			}
			
		    
		}

	</script>
	<script type="text/javascript">
		(function($){
	    $.fn.extend({ 
	        MyPagination: function(options) {
	            var defaults = {
	                height: 400,
	                fadeSpeed: 400
	            };
	            var options = $.extend(defaults, options);
	
	            //Creating a reference to the object
	            var objContent = $(this);
	
	            // other inner variables
	            var fullPages = new Array();
	            var subPages = new Array();
	            var height = 0;
	            var lastPage = 1;
	            var paginatePages;
	
	            // initialization function
	            init = function() {
	                objContent.children().each(function(i){
	                    if (height + this.clientHeight > options.height) {
	                        fullPages.push(subPages);
	                        subPages = new Array();
	                        height = 0;
	                    }
	
	                    height += this.clientHeight;
	                    subPages.push(this);
	                });
	
	                if (height > 0) {
	                    fullPages.push(subPages);
	                }
	
	                // wrapping each full page
	                $(fullPages).wrap("<div class='page'></div>");
	
	                // hiding all wrapped pages
	                objContent.children().hide();
	
	                // making collection of pages for pagination
	                paginatePages = objContent.children();
	
	                // show first page
	                showPage(lastPage);
	
	                // draw controls
	                showPagination($(paginatePages).length);
	            };
	
	            // update counter function
	            updateCounter = function(i) {
	                $('#page_number').html(i);
	            };
	
	            // show page function
	            showPage = function(page) {
	                i = page - 1; 
	                if (paginatePages[i]) {
	
	                    // hiding old page, display new one
	                    $(paginatePages[lastPage]).fadeOut(options.fadeSpeed);
	                    lastPage = i;
	                    $(paginatePages[lastPage]).fadeIn(options.fadeSpeed);
	
	                    // and updating counter
	                    updateCounter(page);
	                }
	            };
	
	            // show pagination function (draw switching numbers)
	            showPagination = function(numPages) {
	                var pagins = '';
	                for (var i = 1; i <= numPages; i++) {
	                    pagins += '<li><a href="#" onclick="showPage(' + i + '); return false;">' + i + '</a></li>';
	                }
	                $('.pagination li:first-child').after(pagins);
	            };
	
	            // perform initialization
	            init();
	
	            // and binding 2 events - on clicking to Prev
	            $('.pagination #prev').click(function() {
	                showPage(lastPage);
	            });
	            // and Next
	            $('.pagination #next').click(function() {
	                showPage(lastPage+2);
	            });
	
	        }
	    });
	})(jQuery);
	
	// custom initialization
	jQuery(window).load(function() {
	    $('#data1').MyPagination({height: 800, fadeSpeed: 500});
	});
</script>
<script type="text/javascript">
        
        $("#LinhVuc").multipleSelect({
        placeholder: "Lĩnh Vực"
        });
        $("#LoaiTu").multipleSelect({
            placeholder: "Loại Từ"
            });
</script>

</body>
</html>