<!DOCTYPE html>
<html >
<head>
    
	{% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Bách Việt - Từ Điển Đức - Việt & Việt- Đức - Tu Dien Duc Viet - Deutsch vietnamesisches Wörterbuch{% endblock %}</title>
	{% load staticfiles %}
	<link href="../static/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/keyboard.css" />
	
</head>
<body ng-controller="AppController">
    <header>
	<div class="container">
		<div class ="row">
			<div class="col-xl-12 col-sm-12 col-md-12 logoheader">
				<div role="navigation" class="navbar navbar-inverse navbar-fixed-top top">
				     <div class="navar">
				       <div class="navbar-header">
				         <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle but" type="button">
				           <span class="sr-only">Toggle navigation</span>
				           <span class="icon-bar"></span>
				           <span class="icon-bar"></span>
				           <span class="icon-bar"></span>
				         </button>
				       </div>
				       <div class="navbar-collapse collapse">
				         <ul class="nav navbar-nav">
				           <li class="active"><a  href="/" ><span class ="glyphicon glyphicon-home"></span> Home</a></li>
				           
				           <li><a href="#about" >Giới thiệu</a></li>
				           <li class="dropdown">
				             <a data-toggle="dropdown" class="dropdown-toggle" href="" data-i18n="ngonngu">Đa ngôn ngữ<b class="caret"></b></a>
				             <ul class="dropdown-menu font">
				               <li><a href="" >Deutsch</a></li>
				               <li><a href="" >Tiếng Việt</a></li>
				             </ul>
				           </li>
				           <li class="last"><a href="#about" >Đăng Nhập</a></li>
				         </ul>
				       </div>
				      </div>
				    </div>
				</div>
		</div>
	</div>
</header>
<!-- end menu -->