
{% include 'header.html' %}
<!--<input type="text" value="" class="keyboardInput">-->
{% load staticfiles %}
<!--logo-->
	  <div class="container">
  			<div class="row">
  				<div class="col-xl-12 col-sm-12 col-md-12 logoheader">
  					<img src="../static/images/BV_logo_03.png" class="img-responsive logof" alt="Responsive image"><br>
  				</div>
  			</div>
	  	</div>

<!-- tap-->		
	  	<div class="container container1">
		  	<div class="starter-template">
		  	<form name="Form1" method="POST">
			  		{% csrf_token %}
				  <!-- Nav tabs -->
			     <ul class="nav nav-tabs tabnav">
					  <li class="active actitab"><a href="#home" class="qw" data-toggle="tab" data-i18n="tratu">Tra Từ</a></li>
					  <li ><a href="#profile" class="qw" data-toggle="tab" data-i18n="lietketu">Liệt kê từ</a></li>
				 </ul>
				<!-- Tab panes -->
			  	<div class="tab-content tabctent" id="myTabContent">
			  		
				  	<div class="row">
	  					<div class="col-xs-12 col-sm-6 col-md-6 ">
			   				<div class="tab-pane fade active in tabacti" id="home">
		  	   		   			<input type="text" class="form-control fmct keyboardInput" id="exampleInputEmail1" placeholder="" name="word">
							</div>
							<div class="tab-pane fade" id="profile">
		  			  			<select class="form-control fm1" id="fm1" name='list'>
									<option value="2" data-i18n="mottiepvingu">Một tiếp vị ngữ</option>
									<option value="3" data-i18n="haitiepvingu">Hai tiếp vị ngữ</option>
									<option value="4" data-i18n="batiepvingu">Ba tiếp vị ngữ</option>
							    </select>
							</div>
 						</div>	
						<div class="col-xs-12 col-sm-4 col-md-4 ">
						  	<select class="form-control fm2" id="fm2" name='lang'>
						  		<option value="1" data-i18n="ducviet" >Tra Đức-Việt</option>
								<option value="0" data-i18n="vietduc">Tra Việt-Đức</option>		
							</select>
						</div>
						<div class="col-xs-12 col-sm-2 col-md-2 text-center">
							<button type="Submit" ng-click="cancel()" class="btn btn-warning btn-xl" onclick="return OnButton2();"><i class="icon-search icon-white"></i></button>
							
						</div>
					</div>
					</form>
					   
				</div>
				<!-- End Tab panes -->												    
			</div>
 		</div>
{% include 'footer.html' %}

