{% include 'header.html' %}
{% load assign %}
{% load set_var %}
{% load continue %}
{% block content %}
	<div class="jumbotron">
		 	<div class="container headder">
	  			<div class="row">
	  			<!--logo-->
	  				<div class="col-xl-12 col-sm-3 col-md-3 ip">
	  					<img src="../static/images/BV_logo_03.png" class="img-responsive logo" alt="Responsive image"><br>
	  				</div>
	  				<div class="col-xl-12 col-sm-9 col-md-9">
	  					<div class="container container1 container2">
						  	<div class="starter-template">
						<form name="Form1" method="POST">
					  	{% csrf_token %}
						  <!-- Nav tabs -->
					     <ul class="nav nav-tabs tabnav" id="tabs" >
							  <li class="active actitab"><a href="#home" class="qw" data-toggle="tab" data-i18n="tratu">Tra Từ</a></li>
							  <li ><a href="#profile" class="qw" data-toggle="tab" data-i18n="lietketu">Liệt kê từ</a></li>
						 </ul>
								<!-- Tab panes -->
							  	<div class="tab-content tabctent" id="myTabContent">
							  		
								  	<div class="row">
					  					<div class="col-xs-12 col-sm-6 col-md-6 ">
							   				<div class="tab-pane fade active in tabacti" id="home">
						  	   		   			<input type="text" class="form-control fmct keyboardInput" id="exampleInputEmail1" placeholder="" {% for q in data %}{% ifchanged q.wText %} value={{q.wText}}{% endifchanged %}{% endfor %} name="word">
											</div>
											<div class="tab-pane fade" id="profile">
						  			  			<select class="form-control fm1" id="fm1" name='list'>
													<option value="2" data-i18n="mottiepvingu" >Một tiếp vị ngữ</option>
													<option value="3" data-i18n="haitiepvingu">Hai tiếp vị ngữ</option>
													<option value="4" data-i18n="batiepvingu">Ba tiếp vị ngữ</option>
											    </select>
											</div>
				 						</div>	
										<div class="col-xs-12 col-sm-4 col-md-4 ">
										  	<select class="form-control fm2" id="fm3" name='lang'>
										  		<option value="1" data-i18n="ducviet" >Tra Đức-Việt</option>
												<option value="0" data-i18n="vietduc">Tra Việt-Đức</option>		
											</select>
										</div>
										<div class="col-xs-12 col-sm-2 col-md-2 text-center">
											<button type="Submit" ng-click="cancel()" class="btn btn-warning btn-xl" onclick="return OnButton2();" id="find"><i class="icon-search icon-white"></i></button>
											
										</div>
									</div>
									</form>  
			 					</div>													    
							</div>
				 		</div>		
		  			</div>
		  		</div>
		  	</div>
		</div>		
	  	
<!-- CONTAIN -->
	  	<div class="container contanin">
	  		<div class="layout3">
	  		<div class="row">
	  			<div class="col-xl-12 col-sm-3 col-md-3 ipla3">
	  				<div class="top_left">
				 	 	<select class="form-control areas">
							<option data-i18n="linhvuc">Lĩnh Vực  </option>
							<option data-i18n="vanhoa">Văn hoá</option>
							<option data-i18n="giaoduc">Giáo dục</option>
						</select><br>
						<select class="form-control kind_of">
							<option data-i18n="loaitu">Loại từ</option>
							<option data-i18n="mottiepvingu">Một tiếp vị ngữ </option>
							<option data-i18n="haitiepvingu">Hai tiếp vị ngữ</option>
						</select><br><br><br><br>
						<p>  </p>
						 <img src="../static/images/binhluan.png" class="img-responsive bl" alt="Responsive image">   <h4>Bình luận</h4><br>
					</div>
					<form class="form-horizontal formbl1" role="form">
  						<div class="form-group">
							<label class="result_bl">
								<div class="row">
									<div class="col-xl-12 col-sm-4 col-md-4">
										<img src="../static/images/BV4_27.gif" class="img-responsive avatar" alt="Responsive image">
									</div>
									<div class="col-xl-12 col-sm-8 col-md-8">
										<h5>Customer1</h5><p>Hi! Can hepl u?</p><p class="count_time">1 hour ago</p> <img src="../static/images/bl.png" class="img-responsive bl" alt="Responsive image">
									</div>
								</div>
								<input type="text" class="form-control bl" placeholder="Text input">
							</label>
						</div>
					</form>
					<form class="form-horizontal formbl2" role="form">
  						<div class="form-group">
							<label class="result_bl">
							<div class="row">
								<div class="col-xl-12 col-sm-4 col-md-4">
									<img src="../static/images/BV4_27.gif" class="img-responsive avatar" alt="Responsive image">
								</div>
								<div class="col-xl-12 col-sm-8 col-md-8">
									<h5>Customer1</h5><p>Hi! Can hepl u?</p><p class="count_time">1 hour ago</p> <img src="../static/images/bl.png" class="img-responsive bl" alt="Responsive image">
								</div>
							</div>
							<input type="text" class="form-control bl" placeholder="Text input">
							</label>
						</div>
					</form>
					<form class="form-horizontal formbl3" role="form">
  						<div class="form-group">
							<label class="result_bl">
							<div class="row">
								<div class="col-xl-12 col-sm-4 col-md-4">
									<img src="../static/images/BV4_27.gif" class="img-responsive avatar" alt="Responsive image">
								</div>
								<div class="col-xl-12 col-sm-8 col-md-8">
									<h5>Customer1</h5><p>Hi! Can hepl u?</p><p class="count_time">1 hour ago</p> <img src="../static/images/bl.png" class="img-responsive bl" alt="Responsive image">
								</div>
							</div>
							<input type="text" class="form-control bl" placeholder="Text input">
							</label>
						</div>
					</form>
					<form class="form-horizontal formbl4" role="form">
  						<div class="form-group">
							<label class="result_bl">
							<div class="row">
								<div class="col-xl-12 col-sm-4 col-md-4">
									<img src="../static/images/BV4_27.gif" class="img-responsive avatar" alt="Responsive image">
								</div>
								<div class="col-xl-12 col-sm-8 col-md-8">
									<h5>Customer1</h5><p>Hi! Can hepl u?</p><p class="count_time">1 hour ago</p> <img src="../static/images/bl.png" class="img-responsive bl" alt="Responsive image">
								</div>
							</div>
							<input type="text" class="form-control bl" placeholder="Text input">
							</label>
						</div>
					</form>
					<form class="form-horizontal formbl5" role="form">
  						<div class="form-group">
							<label class="result_bl">
							<div class="row">
							<div class="col-xl-12 col-sm-4 col-md-4">
								<img src="../static/images/BV4_27.gif" class="img-responsive avatar" alt="Responsive image">
							</div>
							<div class="col-xl-12 col-sm-8 col-md-8">
								<h5>Customer1</h5><p>Hi! Can hepl u?</p><p class="count_time">1 hour ago</p> <img src="../static/images/bl.png" class="img-responsive bl" alt="Responsive image">
							</div>
							</div>
							<input type="text" class="form-control bl" placeholder="Text input">
							</label>
						</div>
					</form><br>
					<textarea class="form-control bl_text" row="3"></textarea><br>
					<button class="btn btn-warning btnlg1" type="button">Gửi</button>
					<button type="submit" class="btn btn-default btnlg2">X</button><br>
					<div class="left_footer">
						<nav>
							  <ul class="pagination">
							    <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
							    <li><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
							  </ul>
						</nav>
					</div>
  				</div>
  				<div class="col-xl-12 col-sm-9 col-md-9 ipl31">
  					<div class="row">
  						<div class="col-xl-12 col-sm-12 col-md-12"><br><br>
  							<span class="glyphicon glyphicon-circle-arrow-left"><a href="javascript:void(0);" onclick="javascript:history.back();"> Trở lại kết quả tìm kiếm</a></span><br><br>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-xl-12 col-sm-12 col-md-12">
  							<div class="row">
		  						<div class="col-xl-12 col-sm-12 col-md-9">
		  							<h5 class="resulth5">
		  							
									{% for q in data %}
									{% ifchanged q.wText %}
									{{q.wText}}
									{% endifchanged %}
									{% endfor %}
									</h5>
									
		  						</div>
		  						<div class="col-xl-12 col-sm-12 col-md-3">
  									<h5 class="resulth5">20<img src="../static/images/BV4_15.gif" class="img-responsive sound " alt="Responsive image"> Lượt bình luận<span> </span></h5>
  								</div>
  							</div>
  						</div>
  				   </div>
  				   <div class="row">
  						<div class="col-xl-12 col-sm-12 col-md-12">
  							<a class="aresutl">[phiên âm]&nbsp;<span class="glyphicon glyphicon-volume-up"></span></a>
  				   			<br><br>
  							<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
  							<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
  							<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
  							<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
  							<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
  							<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
  							<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
  							<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
  							<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
  							<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
  							<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
  							<img src="../static/images/BV4_23.gif" class="img-responsive sound " alt="Responsive image">
  							<a class="aresutl see">..see all</a>
  						</div>
  				</div>
  				<div class = "contendetail">
  				 <div class="row">
  						<div class="col-xl-12 col-sm-12 col-md-12">
  							<div class="col-xl-12 col-sm-12 col-md-6">
  								
							{% if data %}
								{% for q in data %}
								{% ifchanged q.wText %}
									<table>
								{% endifchanged %}
								{% if q.row_number == 1 %}
									<tr><td>
								{% ifchanged q.ttText %}
									<div style="font-family:Arial;font-size: 150%;  ">
										{% if q.ttText == "z_others" %}
											<span>Từ Ngữ Chung</span>
										{% elif q.tText == "z_zothers" %}
											<span>Từ Liên Quan</span>
										{% elif q.tText == "z_zzothers" %}
											<span>Từ Tương Tự</span>
										{% else %}
											<span>{{q.tText|title}}</span>
										{% endif %}
									</div></td></tr><tr><td>
								{% endifchanged %}
									<p class="heading w-wapper">{{q.wtText}} </p>
									<div class="content">
								{% endif %}
								{% ifchanged q.wtId %}
								{% if q.row_number != 1 %}
									</div>
									</td></tr>
									<tr><td>
								
									<p class="heading w-wapper">{{q.wtText}} </p>
									<div class="content">
								{% endif %}
								{% endifchanged %}
								{% if q.eText != None %}
									<div style="color:#664C00; padding-left:20px; padding-top:5px; line-height:130%; padding-right:20px;">{{q.eText}}</div><br />
									<div style="color:#339933; padding-left:40px; line-height:130%; padding-right:30px;">{{q.etText}}</div><br />
								{% endif %}
								{% endfor %}
								</div>
								{% endif %}
							</table>

  							</div>
  							<div class="col-xl-12 col-sm-12 col-md-6">
  									<div class="col-xl-12 col-sm-12 col-md-12 data-result">
  										<a class="aresutl">Loai tu <span class="glyphicon glyphicon-play"></span></a><br>
  									
  										<table class="table table-bordered">
										      <thead>
										        <tr>
										          <th>Last Name</th>
										          <th>Username</th>
										        </tr>
										      </thead>
										      <tbody>
										        <tr>
										          <td>Otto</td>
										          <td>@mdo</td>
										        </tr>
										        <tr>
										          <td>Mark</td>
										          <td>Otto</td>
										        </tr>
										        <tr>
										          <td>Thornton</td>
										          <td>@fat</td>
										        </tr>
										        
										        <tr>
										          <td>Thornton</td>
										          <td>@fat</td>
										        </tr>
										        
										        <tr>
										          <td>Thornton</td>
										          <td>@fat</td>
										        </tr>
										        
										        <tr>
										          <td>Thornton</td>
										          <td>@fat</td>
										        </tr>
										        <tr>
														
										        </tr>
										        
										      </tbody>
										    </table>
 											<a class="aresutl">Ngữ pháp  <span class="glyphicon glyphicon-play"></span></a><br>
											<a class="aresutl">Video <span class="glyphicon glyphicon-play"></span></a><br>
											<a class="aresutl">Linh vuc <span class="glyphicon glyphicon-play"></span></a><br>
											<a class="aresutl"> Ket qua khac <span class="glyphicon glyphicon-play"></span></a><br>
  										 
  										</div>
  									</div>
  									</div>
  								</div>
  							</div>   
  				</div>
	  		</div>
	  		</div>
	  	</div>
	  	</div>
{% endblock %}
{% include 'footer.html' %}
