
{% block content %}
{% load staticfiles %}
{% include 'header.html' %}
      <div class="jumbotron" >
         <div class="col-xs-12 col-sm-12 col-md-12">
            <h1 style="display:none;">BachViet</h1>
         </div>
         <div class="container headder">
            <div class="row">
               <!--logo-->
               <div class="col-xl-12 col-sm-3 col-md-3 ip">
                  <img src="../static/images/BV_logo_03.png" class="img-responsive logo" alt="Responsive image"/><br>
               </div>
               <div class="col-xl-12 col-sm-9 col-md-9">
                  <div class="container container1 container2">
                     <div class="starter-template">
                        <form name="Form1" method="POST">
					  	{% csrf_token %}
						  <!-- Nav tabs -->
					     <ul class="nav nav-tabs tabnav" id="tabs" >
							  <li class="active actitab"><a href="#home" class="qw" data-toggle="tab" data-i18n="tratu">Tra Từ</a></li>
							  <li ><a href="#profile" class="qw" data-toggle="tab" data-i18n="lietketu">Liệt kê từ</a></li>
						 </ul>
						<!-- Tab panes -->
					  	<div class="tab-content tabctent" id="myTabContent">
					  		
						  	<div class="row">
			  					<div class="col-xs-12 col-sm-6 col-md-6 ">
					   				<div class="tab-pane fade active in tabacti" id="home">
				  	   		   			<input type="text" class="form-control fmct keyboardInput" id="exampleInputEmail1" placeholder="" {% if query %}value={{word}}{% endif %} name="word">
									</div>
									<div class="tab-pane fade" id="profile">
				  			  			<select class="form-control fm1" id="fm1" name='list'>
											<option value="2" data-i18n="mottiepvingu" >Một tiếp vị ngữ</option>
											<option value="3" data-i18n="haitiepvingu">Hai tiếp vị ngữ</option>
											<option value="4" data-i18n="batiepvingu">Ba tiếp vị ngữ</option>
									    </select>
									</div>
		 						</div>	
								<div class="col-xs-12 col-sm-4 col-md-4 ">
								  	<select class="form-control fm2" id="fm3" name='lang'>
								  		<option value="1" data-i18n="ducviet" >Tra Đức-Việt</option>
										<option value="0" data-i18n="vietduc">Tra Việt-Đức</option>		
									</select>
								</div>
								<div class="col-xs-12 col-sm-2 col-md-2 text-center">
									<button type="Submit" ng-click="cancel()" class="btn btn-warning btn-xl" onclick="return OnButton2();" id="find"><i class="icon-search icon-white"></i></button>
									
								</div>
							</div>
							</form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- CONTAIN -->
      <div class="container contanin">
         <div class="row">
            <div class="col-xl-12 col-sm-3 col-md-3 ipla2">
               <div class="top_left">
                  <br /><br />
                  <select class="form-control areas" id ="LinhVuc"  multiple="multiple"  >
   					   {% for i in option_type%}
						 <option value="{{i.id}}">{{i}}</option>
 					    {% endfor %}

   					   </optgroup>
   				
                  </select>
                  <br>
                  <select class="form-control kind_of" id ="LoaiTu"  multiple="multiple">
                  		
                    {% for i in option_class%}
			<option value="{{i.id}}">{{i}}</option>
 		    {% endfor %}
             </select>
                  <br>
                  <p>  </p>
               </div>
            </div>
            <div class="col-xl-12 col-sm-9 col-md-9 contan">
               <div class="row">
                  <div class="col-xl-12 col-sm-12 col-md-4">
                  	<div class="col-xl-12 col-sm-12 col-md-12 prefix"></br></br>
                  		<div class="lietke">
                  			
                  			{% if query1 %}
                  			<span style="font-family:Arial;font-size: 120%; font-weight: bold;">
  								Tiếp vị ngữ:
  							</span>
  							<br />
                  			{% for q in query1 %}
                  			
                  				<a class="prefix-item num1" data="{{q.data1}}" title="{{q.data1}}" href="javascript:void(0);">{{q.data1}}</a>
                  			
                  			{% endfor %}
                  			
                  			{% endif %}
                  		</div>
                  		
                  		{% if query4 %}
                  			{% if   query4 == None %}
                  			<span style="font-family:Arial;font-size: 120%;font-weight: bold;">
  								Không có kết quả tìm kiếm.
  							</span>
  							{% endif %}
                  			<span style="font-family:Arial;font-size: 120%;font-weight: bold;">
  								Có {{sum4}}  kết quả
  							</span>
  							<br />
	                  			{% for q in query4 %}
		                  				{% ifchanged q.loai %}
		                  				<span style="font-family:Arial;font-size: 120%;font-weight: bold;">
		  								Lĩnh Vực Tìm Kiếm :{{q.loai}}
			  							</span>
			  							<br />
			  							<br />
		                  				{% endifchanged %}
		                  				<span style="font-size: 140%"><a href="javascript: clickDetail(0);" title="{{q.text}}"  data="wordId={{q.id}}&word={{q.text}}" class="btn-link view">{{q.text}}</span></a>&nbsp;&nbsp;({{q.loai}})<img src="../static/images/BV4_19.gif" class="img-responsive sound " alt="Responsive image">
		                  				<p>{{q.nghia}}</p>
		                  				<br />
		                  			
	                  			
	                  			{% endfor %}
                  			{% endif %}
                  			{% if query2 %}
                  			<span style="font-family:Arial;font-size: 120%;font-weight: bold;">
  								Có {{sum1}} kết quả
  							</span>
  							<br />
  							<div class ="data" id="data">
                  			<div class ="data1" id="data1">
	                  			{% for q in query2 %}
		                  			<div>
		                  				<span style="font-size: 140%"><a href="javascript: clickDetail(0);" title="{{q.text}}"  data="wordId={{q.id}}&word={{q.text}}" class="btn-link view">{{q.text}}</span></a>&nbsp;&nbsp;({{q.loai}})<img src="../static/images/BV4_19.gif" class="img-responsive sound " alt="Responsive image">
		                  				<p>{{q.nghia}}</p>
		                  				<br />
		                  			</div>
	                  			
	                  			{% endfor %}
	                  			
                  			</div>
                  			<hr />
		                 		<div class="pagination">
		                 		<ul class="class="pagination pagination-sm"">
								  <li><a href="#" id="prev" class="prevnext"> &laquo;</a></li>
								  <li><a href="#" id="next" class="prevnext">&raquo; </a></li>
								</ul>
							      
							      <br />
							     	<div id="page_number" class="page_number">1</div>
							  	</div>
                  			{% endif %}
                  			
  							{% if query %}
  							<span style="font-family:Arial;font-size: 120%; font-weight: bold;">
  								Có {{sum}} kết quả
  							</span>
  							<br />
  							{% endif %}
  							{% for q in query %}
  							{% ifchanged q.tText %}
  								<br />
  								<div style="font-family:Arial;font-size: 170%;">
  								{% if q.tText == "z_others" %}
									<span>Từ Ngữ Chung</span>
								{% elif q.tText == "z_zothers" %}
									<span>Thành Ngữ</span>
								{% elif q.tText == "z_zzothers" %}
									<span>Từ Tương Tự</span>
								{% else %}
									<span>{{q.tText|title}}</span>
								{% endif %}
								</div>
								<br />
  							{% endifchanged %}
  							<div class="w-wrap">
				 	 		<span style="font-size: 140%"><a href="javascript: clickDetail(0);" title="{{q.wText}}" data="wordId={{q.wId}}&word={{q.wText}}" class="btn-link hoang">{{q.wText}}</span></a>&nbsp;&nbsp;{% if q.wcText != None %}(&nbsp;<span style="color: #CCA352">{{q.wcText}}</span>&nbsp;)&nbsp;&nbsp;{% endif %}<img src="../static/images/BV4_19.gif" class="img-responsive sound " alt="Responsive image">
				 	 		<p>{{q.wtText}}</p>
				 	 		<div class="hoang-empty"></div>
				 	 		</div>
				 	 		{% endfor %}
				 	 		</div>
  						</div>
                  </div>
                  <div class="arrow_box">
                     {% include 'detail.html' %}
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
{% endblock %}
{% include 'footer.html' %}

